{{template "top" .}}
<form method="post" action="greet">
    <fieldset>
        <legend>Greet</legend>
        <input id="greet-input" type="text" name="name" />
        <input type="submit" />
    </fieldset>
</form>
<form method="post" action="curse">
    <fieldset>
        <legend>Curse</legend>
        <input id="curse-input" type="text" name="name" />
        <input type="submit" />
    </fieldset>
</form>
{{template "bottom" .}}
