{{define "top"}}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interacto-tron</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Wow, like and subscribe, it really helps the channel guys" lang="en"/>
</head>
<body>
<nav role="navigation">
    <div>
        <h1>The most incredible software in the world</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<main>
    {{end}}